.movieDetailContainer{

}

.backgroundimg{
   height: 100%
   
  
}

.movieCardHeader{
    font-size: 1.8rem;
}

.movieDetailsBody p{
    font-size: 1.4rem;
}

.detailContainer{

}

#movieInfo{
 margin-top: 5rem;
}